{% extends 'base.html' %}
{% block conteudo %}
    <h1 style="text-align: center">Lista de Frutas</h1>
    <hr>
    <ol>
        {% for fruta in frutas %}
            <li>{{fruta}}</li>
        {% endfor %}
        <form action="{{url_for('principal')}}" method="POST">
            <div class="form-group">
                <label for="ExemploFruta">Fruta</label>
                <input class="form-control" id="ExemploFruta" type="text", name="fruta" placeholder="Digite o nome de uma fruta">   
            </div>
            
            <button class="btn btn-success">Adicionar</button>
        </form>
    </ol> 
{% endblock conteudo %}