{% extends 'base.html' %}
{% block conteudo %}
    <h1 style="text-align: center;">Diario de notas</h1>
    <hr>
        {% for registro in registros %}
            <details>
                <summary>{{registro.aluno}}</summary>
                <p>{{registro.nota  }}</p>
            </details>
        {% endfor %}
    <form action="{{url_for('sobre')}}" method="POST">
        <div class="form-group">

            <label for="NomeAluno">Aluno</label>
            <input class="form-control" id="NomeAluno" type="text" name="aluno" placeholder="Digite o nome do Aluno(a)" required>   

        </div>
        
        <div class="form-group">

            <label for="NotaAluno">Aluno</label>
            <input class="form-control" id="NotaAluno" type="text" name="nota" placeholder="Digite a nota do Aluno(a)" required>

        </div>

        
        <button class="btn btn-success">Adicionar</button>
    </form>
    
{% endblock conteudo %}